*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Roboto', sans-serif;
}

/* UTILITà */
.container{
   width: 70%;
   margin: auto;
}
.row{
   display: flex;
   width: 100%;
}
.flex-end{
   display: flex;
   justify-content: flex-end;
}

.flex-start{
   display: flex;
   justify-content: flex-start;
}

/* Utilità STYLE */
.margin-100{
   margin-top: 100px;
   margin-bottom: 100px;
}

.size-logo{
   width: 100px;
   vertical-align: middle;
}

.min-button{
   padding: 10px 10px 10px 10px;
   font-size: 13px;
   border-radius: 20px;
   border: none;
   font-family: 'Roboto', sans-serif;
   background-color: white;
}

.max-button{
   padding: 10px 20px 10px 20px;
   border-radius: 23px;
   font-size: 18px;
   font-family: 'Roboto', sans-serif;
   border: none;
   background-color: white;
}
.dark{
   color: white;
   background-color: #23272a;
}
.violet{
   color: white;
   background-color:#8ea1e1;
   
}
.background-dark{
   background-color: #23272a;
}
.link-style{
   text-decoration: none;
   color: white;
   font-size: 13px;
}
.immagini-laterali{
   width: 100%;
}
/* img-onde */
.wave{
   width: 100%;
   height: 100px;
   background-image: url(../img/wave.svg);
   opacity: 0.1;
}

.reverse{
   transform: scaleY(-1);
}

.bgopaque{
   background-color: rgba(0,0,0,0.1); 
}
/* Fine Utilità STYLE */
/* FINE UTILITà */


/* HEADER */
header{
   background-color:#3161e0;
}

header > .container {
   padding-top: 20px;
   padding-bottom:10px;
}
/*COL header LOGO*/
header .col-20{
   width: 20%;
   /* border: 1px dashed black; */
   line-height: 50px;
   padding-left: 10px;
}

/* COL header LINKs */
header .col-60{
   width: 60%;
   /* border: 1px dashed black; */
   text-align: center;
   line-height: 50px;
   
}
header .col-60 li{
   list-style-type: none;
   display: inline-block;
   padding-left: 25px;
}

/*COL header PULSANTE ACCEDI*/
header .col-20:last-child{
   text-align: end;
   padding-right: 10px;
}
/* FINE HEADER */

/* INIZIO MAIN */
/* JUMBOTRON */

#jumbotron .row{
   display: flex;
   justify-content: center;
   align-items: center;
}

#jumbotron{
   background-image: url(../img/jumbo.png);
   height: 400px;
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* TESTO JUMBOTRON */
.col-70 h1{
   text-align: center;
   color: white;
   padding-top: 20px;
   padding-bottom: 30px;
   font-size: 45px;
}
.col-70 p{
   text-align: center;
   color: white;
   padding-bottom: 15px;
   line-height: 25px;
}
.col-70{
   width: 70%;
   /* border: 1px dashed black; */
   margin-bottom: 100px;
}
/* FINE TESTO JUMBOTRON */

/* PULSANTI JUMBOTRON */
.button-jumbotron{
   display: flex;
   justify-content: space-evenly;
}
/* FINE PULSANTI JUMBOTRON */
/* FINE JUMBOTRON */


/* SEZIONE CENTRALE*/
/* PRIMA RIGA */
.col-30{
   width: calc(30% - 20px);
   margin: 10px;
   /* border: 1px dashed black;  */
   padding-top: 30px;
}

.wrapper .col-70{
   width: calc(70% - 20px);
   margin: 10px;
   /* border: 1px dashed black; */
   
}
/* Contentuto prima riga */
.col-30 h2 {
   font-size: 35px;
   padding-bottom: 20px;
}

.col-30 p{
   line-height: 25px;
   font-size: 15px;
}

/* Fine Contentuto prima riga */
/* FINE PRIMA RIGA */

/* SECONDA RIGA */
.invert-order{
   order:-1;
}

/* QUARTA RIGA-BIG */
.col-100{
   width: 100%;
   /* border: 1px dashed black; */
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.col-100 h2{
   text-align: center;
   font-size: 35px;
   padding-bottom: 20px;
   padding-top: 30px;
}

.col-100 p{
   line-height: 25px;
   font-size: 15px;
   text-align: center;
}
/* Testo e Pulsante- BIG*/
.col-100 section{
   text-align: center;
}
.col-100 h3{
   margin-bottom: 30px;
   line-height: 0px;
}
.col-100 section img{
   width: 360px;

}
.col-100 section:last-child{
   margin: 30px;

}
/* FINE SEZIONE CENTRALE*/
/* FINE MAIN */


/* FOOTER */
/* PRIMA COL loghi pagine*/
.col-40{
   width: 40%;
   /* border: 1px dashed rgb(255, 255, 255); */
}

footer .wrapper:first-child{
   padding-top: 60px;
   padding-bottom: 20px;
}

/* Titolo PRIMA COL*/
footer .col-40 h3{
   font-size: 20px;
   color: #909ddf;
}
/* img bandiera*/
footer .col-40 img{
   width: 20px;
   margin-top: 20px;
}
/* lingue-italiano */
footer .col-40 ul{
   list-style-type: none;
   display: inline-block;
   text-decoration: none;
}

.col-40 li a i{
   font-size: 7px;
}

.col-40 li a{
   font-size: 10px;
   line-height: 10px;
   padding-bottom: 10px;
   vertical-align: text-top;
}

/* loghi pagine  */
.loghi-footer{
   margin-top: 15px;
}

.loghi-footer a{
   color: white;
   margin-right: 15px;
}
/* FINE PRIMA COL loghi pagine*/

/* QUATTRO COL - Link footer*/
.col-18{
   width: 18%;
   /* border: 1px dashed rgb(255, 255, 255); */
}
.col-18 ul{
   list-style-type: none;
   text-decoration: none;
   line-height: 25px;
}
.col-18 ul:first-child{
   color: #8ea1e1;
   font-size: 13px;
}

/* Logo-Pulsante */
.col-footer{
   width: 100%;
   padding-top: 30px;
   padding-bottom: 100px;
   /* border: 1px dashed rgb(219, 209, 209); */
   border-top: 1px solid #8ea1e1;
   background-color: #23272a;
   display: flex;
   align-items: center;
   justify-content: space-between;
}


/* FINE Logo-Pulsante */
/* FINE FOOTER */








