*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* UTILITà */
.container{
    width: 70%;
    margin: auto;
    /* border: 2px solid black; */
    padding-top: 30px;
    padding-bottom: 30px;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* FINE UTILITà */


/* HEADER */
header{
    background-color:  #3161e0;
}

header > .container {
    padding-top: 10px;
    padding-bottom:10px;
}

/*Col logo-link-login  */
header .col-60{
    text-align: center;
    line-height: 30px;
}

header .col-20{
    line-height: 30px;
    padding-left: 10px;
}

header .col-20:last-child{
    text-align: end;
    padding-right: 10px;
}
.col-20{
    height: 30px;
    width: 20%;
    border: 1px dashed black;
}
.col-60{
    height: 30px;
    width: 60%;
    border: 1px dashed black;
}
/* LINK HEADER */
header .col-60 li{
    list-style-type: none;
    display: inline-block;
}
.bgItem1 {
    background-image: url(../img/item1.svg);
    background-size: cover;
}
header .col-60 a{
    text-decoration: none;
}

/* FINE LINK HEADER */

/* FINE HEADER */

/* INIZIO MAIN */
/* JUMBOTRON */
#jumbotron{
    background-image: url(../img/jumbo.png);
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TESTO JUMBOTRON */
.col-70 h1{
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 45px;
}
.col-70 p{
    text-align: center;
    color: white;
    padding-bottom: 15px;
    line-height: 25px;
}
.col-70{
    width: 70%;
    /* height: 400px; */
    border: 1px dashed black;
}
/* FINE TESTO JUMBOTRON */

/* PULSANTI JUMBOTRON */
.button-jumbotron{
    display: flex;
    justify-content: space-evenly;
}

.button-jumbotron input[type="button"]{
    padding: 10px 20px 10px 20px;
    border-radius: 23px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border: none;
}

.dark{
    color: white;
    background-color: #23272a;
}

/* FINE PULSANTI JUMBOTRON */
/* FINE JUMBOTRON */


/* SEZIONE CENTRALE*/
.background-color:nth-child(odd){
    background-color: rgb(194, 194, 194);
}
/* PRIMA RIGA */
.col-35{
    width: 35%;
    border: 1px dashed black; 
    padding-top: 30px;
}
.col-55{
    width: 55%;
    border: 1px dashed black;
    display: flex;
    align-items: start;
    justify-content: start;
}
/* Contentuto prima riga */
.col-35 h2 {
    font-size: 35px;
    padding-bottom: 20px;
}

.col-35 p{
    line-height: 25px;
    font-size: 15px;
}

.immagini-laterali{
    width: 70%;

}
/* Fine Contentuto prima riga */
/* FINE PRIMA RIGA */

/* Seconda riga */
.invert-order{
    order:-1;
}

/* Quarta riga */
.col-100{
    width: 100%;
    height: 500px;
    background-color: rgb(28, 97, 51);
    border: 1px dashed black;
}

/* Quinta riga */
.col-40{
    width: 40%;
    height: 300px;
    background-color: rgb(233, 157, 157);
    border: 1px dashed black;
}
.col-18{
    width: 18%;
    height: 300px;
    background-color: rgb(79, 167, 167);
    border: 1px dashed white;
}

.background-color:last-child{
    background-color: black;
}

.background-color:last-child .container{
    padding-top: 10px;
}
/* FINE SEZIONE CENTRALE*/
/* FINE MAIN */

/* FOOTER */
footer .col-100{
    height: 50px;
    background-color: rgb(162, 235, 192);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}

footer .container{
    padding-bottom: 0px;
    padding-top: 10px;
}

footer{
    border-top: 1px solid white ;
}

footer input{
    background-color: rgb(241, 207, 228);
    border: 1px dashed black;
    padding: 3px;
}
/* FINE FOOTER */










